@tailwind base;

@layer base {
  button,
  input,
  optgroup,
  select,
  textarea {
    @apply fnormal-normal;
  }

  body {
    @apply bg-white fnormal-normal leading-normal text-black;
  }

  input:not([class*="bg-"]),
  textarea:not([class*="bg-"]) {
    @apply !bg-transparent;
  }

  input[type="number"],
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: textfield;
    margin: 0;
  }
  input {
    outline: none;
  }

  [contenteditable="true"]:focus {
    outline: none;
  }

  input:focus,
  input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  img {
    @apply block h-auto w-full rounded-default object-cover object-center;
  }

  .page-content-text p,
  .post-content-text p {
    @apply leading-normal;
  }

  .page-content-text ol,
  .post-content-text ol {
    @apply list-inside list-disc;
  }
  .page-content-text li,
  .post-content-text li {
    @apply list-inside list-decimal;
  }

  .page-content-text,
  .post-content-text {
    @apply text-gray;
  }
  .page-content-text > *,
  .post-content-text > * {
    @apply w-full text-inherit;
  }
  .page-content-text image,
  .post-content-text image {
    @apply mx-auto;
  }
  .page-content-text h1,
  .page-content-text h2,
  .page-content-text h3,
  .page-content-text h4,
  .page-content-text h5,
  .post-content-text h1,
  .post-content-text h2,
  .post-content-text h3,
  .post-content-text h4,
  .post-content-text h5 {
    @apply font-semibold leading-loose;
  }

  .page-content-text h1,
  .page-content-text h2,
  .page-content-text h3,
  .post-content-text h1,
  .post-content-text h2,
  .post-content-text h3 {
    @apply text-black;
  }

  .page-content-text h1,
  .post-content-text h1 {
    @apply f7xl-bold;
  }
  .page-content-text h2,
  .post-content-text h2 {
    @apply text-6xl;
  }
  .page-content-text h3,
  .post-content-text h3 {
    @apply text-4xl;
  }
  .page-content-text h4,
  .post-content-text h4 {
    @apply flarge-bold text-gray;
  }
  .page-content-text h5,
  .post-content-text h5 {
    @apply font-bold text-gray;
  }
  .page-content-text ul,
  .post-content-text ul {
    @apply list-outside list-disc pl-4 dark:text-gray tablet:pl-2;
  }
}
