@layer base {
  :root[class~="dark"] {
    --color-white: 26, 26, 26;
    --color-black: 255, 255, 255;
    --color-gray: 102, 112, 133;
    --color-highlight: 126, 91, 239;
    --color-highlight-definition: 239, 233, 251;
    --color-light-border: 234, 236, 240;
    --color-accent: 127, 86, 217;
    --color-vitalred: 255, 120, 73;
  }
}

@layer components {
  .dark button.bg-highlight {
    @apply text-black hover:text-highlight;
  }
}
