@tailwind base;

@layer base {
  button,
  input,
  optgroup,
  select,
  textarea {
    @apply fnormal-normal;
  }

  body {
    @apply fnormal-normal bg-white leading-normal text-black;
  }

  input:not([class*="bg-"]),
  textarea:not([class*="bg-"]) {
    @apply !bg-transparent;
  }

  input[type="number"],
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: textfield;
    margin: 0;
  }
  input {
    outline: none;
  }

  [contenteditable="true"]:focus {
    outline: none;
  }

  input:focus,
  input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  img {
    @apply block h-auto w-full rounded-default object-cover object-center;
  }

  .post-content-text .banner,
  .page-content-text .banner {
    @apply tablet:mb-0
  }

  .page-content-text p,
  .post-content-text p {
    @apply leading-normal;
  }

  .page-content-text ol,
  .post-content-text ol {
    @apply list-inside list-disc;
  }
  .page-content-text ul li,
  .post-content-text ul li {
    @apply list-inside list-decimal;
  }

  .page-content-text,
  .post-content-text {
    @apply text-gray;
  }
  .page-content-text > *,
  .post-content-text > * {
    @apply w-full text-inherit;
  }

  .post-content-text .image,
  .post-content-text .title,
  .post-content-text  .text-additional,
  .page-content-text .image,
  .page-content-text .title,
  .page-content-text .text-additional {
    @apply tablet:px-0;
  }

  .page-content-text image,
  .post-content-text image {
    @apply mx-auto;
  }
  .page-content-text h1,
  .page-content-text h2,
  .page-content-text h3,
  .page-content-text h4,
  .page-content-text h5,
  .post-content-text h1,
  .post-content-text h2,
  .post-content-text h3,
  .post-content-text h4,
  .post-content-text h5 {
    @apply font-semibold leading-normal;
  }

  .page-content-text h1,
  .page-content-text h2,
  .page-content-text h3,
  .post-content-text h1,
  .post-content-text h2,
  .post-content-text h3 {
    @apply text-black;
  }

  .page-content-text h1,
  .post-content-text h1 {
    @apply f7xl-bold;
  }
  .page-content-text h2,
  .post-content-text h2 {
    @apply text-6xl;
  }
  .page-content-text h3,
  .post-content-text h3 {
    @apply text-4xl;
  }
  .page-content-text h4,
  .post-content-text h4 {
    @apply flarge-bold text-gray;
  }
  .page-content-text h5,
  .post-content-text h5 {
    @apply font-bold text-gray;
  }
  .page-content-text ul,
  .post-content-text ul {
    @apply list-outside list-disc pl-4 tablet:pl-2 dark:text-gray;
  }

  .tiptap ul,
  .tiptap ol {
    list-style-type: initial;
    list-style-position: initial;
    @apply pl-2xl py-lg
  }

  .tiptap ul li,
  .tiptap ol li {
    /* @apply flex items-center list-none before:block before:h-2 before:w-2 before:rounded-full before:bg-black before:mr-xxs */
    list-style-position: initial;
  }
}
