@tailwind base;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    color: rgb(var(--foreground-rgb));

    @apply fnormal-normal bg-white leading-normal text-black;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    @apply fnormal-normal;
  }

  input:not([class*="bg-"]),
  textarea:not([class*="bg-"]) {
    @apply !bg-transparent;
  }

  input[type="number"],
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: textfield;
    margin: 0;
  }
  input {
    outline: none;
  }

  [contenteditable="true"]:focus {
    outline: none;
  }

  input:focus,
  input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  img {
    @apply block h-auto w-full rounded-default object-cover object-center;
  }

  .post-content-text .banner,
  .page-content-text .banner {
    @apply tablet:mb-0;
  }

  .page-content-text p,
  .post-content-text p {
    @apply leading-normal;
  }

  .page-content-text ol,
  .post-content-text ol {
    @apply list-inside list-disc;
  }
  .page-content-text ul li,
  .post-content-text ul li {
    @apply list-inside list-decimal;
  }

  .page-content-text,
  .post-content-text {
    @apply text-gray;
  }
  .page-content-text > *,
  .post-content-text > * {
    @apply w-full text-inherit;
  }

  .post-content-text .image,
  .post-content-text .title,
  .post-content-text .text-additional,
  .page-content-text .image,
  .page-content-text .title,
  .page-content-text .text-additional {
    @apply tablet:px-0;
  }

  .page-content-text image,
  .post-content-text image {
    @apply mx-auto;
  }
  .page-content-text h1,
  .page-content-text h2,
  .page-content-text h3,
  .page-content-text h4,
  .page-content-text h5,
  .post-content-text h1,
  .post-content-text h2,
  .post-content-text h3,
  .post-content-text h4,
  .post-content-text h5 {
    @apply font-semibold leading-normal;
  }

  .page-content-text h1,
  .page-content-text h2,
  .page-content-text h3,
  .post-content-text h1,
  .post-content-text h2,
  .post-content-text h3 {
    @apply text-black;
  }

  .page-content-text h1,
  .post-content-text h1 {
    @apply f7xl-bold;
  }
  .page-content-text h2,
  .post-content-text h2 {
    @apply text-6xl;
  }
  .page-content-text h3,
  .post-content-text h3 {
    @apply text-4xl;
  }
  .page-content-text h4,
  .post-content-text h4 {
    @apply flarge-bold text-gray;
  }
  .page-content-text h5,
  .post-content-text h5 {
    @apply font-bold text-gray;
  }
  .page-content-text ul,
  .post-content-text ul {
    @apply list-outside list-disc pl-4 tablet:pl-2 dark:text-gray;
  }

  .post-content-text table,
  .page-content-text table {
    @apply wp-border m-0 w-full table-fixed border-collapse p-0;
  }
  .post-content-text figcaption,
  .page-content-text figcaption,
  .post-content-text table caption,
  .page-content-text table caption {
    @apply fnormal-normal mx-0 mb-[0.75em] mt-[0.5em];
  }
  .post-content-text figcaption,
  .page-content-text figcaption,
  .post-content-text table tr,
  .page-content-text table tr {
    @apply wp-border bg-gray/20 p-[0.35em];
  }

  .post-content-text table td,
  .post-content-text table th,
  .page-content-text table th,
  .page-content-text table td {
    @apply p-[0.625em] text-center;
  }
  .post-content-text table th,
  .page-content-text table th {
    @apply fnormal-normal uppercase tracking-widest;
  }

  @media screen and (max-width: 600px) {
    .page-content-text table {
      @apply border-0;
    }
    .post-content-text table caption,
    .page-content-text table caption {
      @apply fsmall-normal;
    }
    .post-content-text table thead,
    .page-content-text table thead {
      @apply absolute -m-px h-px w-px overflow-hidden border-[none] p-0;
      clip: rect(0 0 0 0);
    }
    .post-content-text table tr,
    .page-content-text table tr {
      @apply mb-[0.625em] block border-b-[3px] border-solid border-b-[#ddd];
    }
    .post-content-text table td,
    .page-content-text table td {
      @apply fsmall-normal block border-b border-solid border-b-[#ddd] text-right;
    }
    .post-content-text table td::before,
    .page-content-text table td::before {
      @apply float-left font-bold uppercase content-[attr(data-label)];
      /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    }
    .post-content-text table td:last-child,
    .page-content-text table td:last-child {
      @apply border-b-0;
    }
  }

  .post-content-text code,
  .page-content-text code {
    @apply whitespace-pre-wrap rounded-md bg-black/85 my-5 w-full block p-md text-highlight;
  }

  .post-content-text pre code,
  .page-content-text pre code {
    white-space: inherit;
  }

  .post-content-text pre,
  .page-content-text pre {
    @apply rounded-md bg-black/85 my-5 p-md whitespace-pre-wrap;
  }

  .post-content-text figure,
  .page-content-text figure {
    @apply !w-full
  }

  .post-content-text figure img,
  .page-content-text figure img {
    @apply !w-auto m-auto
  }

  .post-content-text figure figcaption,
  .page-content-text figure figcaption {
    @apply bg-transparent border-none px-0
  }

  .tiptap ul,
  .tiptap ol {
    list-style-type: initial;
    list-style-position: initial;
    @apply py-lg pl-2xl;
  }

  .tiptap ul li,
  .tiptap ol li {
    /* @apply flex items-center list-none before:block before:h-2 before:w-2 before:rounded-full before:bg-black before:mr-xxs */
    list-style-position: initial;
  }
}
