@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.underline-hover {
  @apply relative block w-fit after:absolute after:block after:h-[3px] after:w-full after:origin-center after:scale-x-0 after:bg-black after:transition after:duration-300 after:content-[''] after:hover:scale-x-100;
}

.use-transition {
  @apply transition duration-300;
}

.wp-border {
  @apply border border-black;
}

@layer components {
  .svg-animated-stroke > svg > *,
  .svg-animated-stroke > * svg > *,
  .svg-animated > svg > *,
  .svg-animated > * > svg > * {
    @apply transition duration-300;
  }

  .svg-animated > svg:hover path,
  .svg-animated > svg:hover clipPath {
    @apply fill-highlight;
  }

  .svg-animated-stroke > * > svg:hover path,
  .svg-animated-stroke > * > svg:hover clipPath {
    @apply stroke-highlight;
  }
}

img {
  @apply block h-auto w-full rounded-default object-cover object-center;
}

.post-content-text {
  @apply text-gray;
}

.post-content-text > * {
  @apply w-full text-inherit;
}

.post-content-text image {
  @apply mx-auto;
}

.post-content-text h4 {
  @apply text-large font-bold text-gray;
}

.post-content-text ul {
  @apply list-outside list-disc pl-4 dark:text-gray;
}

.post__action {
  @apply use-transition flex h-2xl w-max flex-row items-center justify-center space-x-xs rounded-default border-2;
}

.comment-actions {
  @apply  flex flex-row items-center justify-center space-x-sm child:cursor-pointer
}

.tiptap-editor-wrapper > p:not(:focus)::before {
  content: attr(data-placeholder);

  @apply text-gray/40
}

@media (prefers-color-scheme: white) {
  /* Must be black but works right now on white scheme later need fix*/
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
