@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.underline-hover {
  @apply relative block w-fit after:absolute after:block after:h-[3px] after:w-full after:origin-center after:scale-x-0 after:bg-black after:transition after:duration-300 after:content-[''] after:hover:scale-x-100;
}

.use-transition {
  @apply transition duration-300;
}

.wp-border {
  @apply border border-black
}

@layer components {
  .footer-socials > svg path,
  .footer-socials > svg clipPath {
    @apply transition;
  }

  .footer-socials > svg:hover path,
  .footer-socials > svg:hover clipPath {
    @apply fill-highlight;
  }
}

img {
  @apply block h-auto w-full rounded-default object-cover object-center
}

.post-content-text {
  @apply text-gray
}

.post-content-text > * {
  @apply text-inherit
}

.post-content-text h4 {
  @apply text-gray text-large font-bold
}

.post-content-text ul {
  @apply list-disc list-outside dark:text-gray pl-4
}

@media (prefers-color-scheme: white) {
  /* Must be black but works right now on white scheme later need fix*/
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
