@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.underline-hover {
  @apply relative block w-fit after:absolute after:block after:h-[3px] after:w-full after:origin-center after:scale-x-0 after:bg-black after:transition after:duration-300 after:content-[''] after:hover:scale-x-100;
}

@layer components {
  .footer-socials > svg path,
  .footer-socials > svg clipPath {
    @apply transition duration-300;
  }

  .footer-socials > svg:hover path,
  .footer-socials > svg:hover clipPath {
    @apply fill-highlight;
  }
}

@media (prefers-color-scheme: white) {
  /* Must be black but works right now on white scheme later need fix*/
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
